@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-BlackItalic.woff") format("woff"), url("../fonts/Gilroy-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/Gilroy-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBoldItalic.woff") format("woff"), url("../fonts/Gilroy-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-HeavyItalic.woff") format("woff"), url("../fonts/Gilroy-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-LightItalic.woff") format("woff"), url("../fonts/Gilroy-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/Gilroy-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBoldItalic.woff") format("woff"), url("../fonts/Gilroy-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ThinItalic.woff") format("woff"), url("../fonts/Gilroy-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLightItalic.woff") format("woff"), url("../fonts/Gilroy-UltraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: Gilroy;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header {
  height: 100px;
  -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.header__list li {
  display: inline-block;
  margin-top: 30px;
  margin-right: 20px;
}

.header__list link {
  display: inline-block;
}

.header__list a {
  font-weight: 700;
  color: #ffffff;
  padding: 0 0 0 20px;
}

.header__name {
  text-transform: uppercase;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  margin-left: -20px;
  margin-right: 40px;
}

.header__lisearch {
  max-width: 574px;
  width: 100%;
}

.header__heart {
  margin: 0 10px 0 -20px;
}

.header__imglink {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.link::after {
  content: url("../img/arrow.svg");
  font-size: 18px;
  margin: 0 0 0 5px;
}

.link:hover {
  color: #d37231;
}

.form-1__input {
  width: 560px;
  height: 41px;
  color: #ffffff;
  border: 1px solid #A3A3A3;
  border-radius: 5px;
  background: #111428 url("../img/search.svg") no-repeat 98%;
  padding: 0 40px 0 20px;
  font-size: 16px;
}

.form-1__input:focus {
  background-color: #fff;
  color: #111428;
  -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.footer__info {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  max-width: 700px;
  margin: 64px auto 100px;
  color: #ffffff;
}

.footer__info p {
  margin-bottom: 20px;
}

.footer__links {
  margin-bottom: 60px;
}

.footer__links img {
  padding: 0 15px;
}

.footer__list a {
  color: #ffffff;
}

.footer__list a:hover {
  color: #d37231;
  text-decoration: underline;
}

.footer__list li {
  display: inline-block;
  margin-right: 20px;
  color: #ffffff;
}

.footer__list li:last-child {
  display: inline-block;
  margin-right: 0px;
  color: #ffffff;
}

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #111428;
}

/* -------------- */

._container {
  max-width: 1216px;
  margin: 0px auto;
}

.login {
  max-width: 1216px;
  margin: 63px auto 0;
  position: relative;
  padding-bottom: 60px;
}

.login::after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 1px;
  max-width: 1216px;
  width: 100%;
  background-color: #fff;
}

.login__navigation {
  margin-top: -30px;
  color: #A3A3A3;
}

.login__container {
  max-width: 384px;
  margin: 0 auto;
}

.login__form h2 {
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 41px;
  text-align: center;
}

.form__item {
  margin-bottom: 30px;
}

.form__item a.form__link {
  display: inline-block;
  width: 49%;
  text-align: right;
  font-size: 18px;
  color: #64B369;
}

.form__item a.form__link:hover {
  color: #d37231;
}

.form__checkbox {
  display: inline-block;
  width: 50%;
  position: relative;
  padding: 0 0 0 30px;
}

.form__button {
  margin-bottom: 30px;
}

.form__footer {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.form__footer p:first-child {
  margin-bottom: 20px;
}

.form__footer a {
  color: #64B369;
}

.form__logos img {
  padding: 0 15px;
  margin-bottom: 30px;
}

.checkbox__item {
  display: none;
}

.checkbox__item:checked + .checkbox__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  width: 12px;
  height: 12px;
  border-radius: 5px;
  background-color: #337AB7;
}

.checkbox__label {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
}

.button {
  height: 50px;
  width: 100%;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #337AB7;
}

.button:hover {
  background-color: #d37231;
  color: #111428;
  border: 4px double #111428;
  -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.button:active {
  font-size: 23px;
  margin: 0 auto 30px;
}

a:hover {
  color: #d37231;
}

.input {
  max-width: 384px;
  width: 100%;
  height: 50px;
  color: #111428;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 20px;
}

.input:focus {
  background-color: #d37231;
  outline: #111428;
  -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.login__maincontainer {
  min-width: 441px;
  margin: 30px auto 0;
}

.login__maincontainer h2 {
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 25px;
  text-align: center;
}

.login__maincontainer h3 {
  font-weight: 500;
  font-size: 16px;
  color: #64B369;
  text-align: center;
  margin-bottom: 40px;
}

.form__info {
  margin-bottom: 30px;
}

.form__info a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.form__info span {
  display: inline-block;
  padding: 0 0 0 0px;
}

.form__info span::before {
  display: inline-block;
  content: " ";
  width: 20px;
  height: 20px;
  margin: 0 14px -5px 0;
  background: url("../img/page2/arrow2.svg") 0 0/20px no-repeat;
}

.form__info span:hover {
  color: #d37231;
}

.form__nextinfo {
  color: #AEAEAE;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}

.form__options {
  margin-bottom: 30px;
}

.options__item {
  position: relative;
  display: inline-block;
  margin-right: 50px;
  padding: 0 0 0 30px;
}

.options__input {
  display: none;
}

.options__input:checked + .options__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  width: 12px;
  height: 12px;
  border-radius: 5px;
  background-color: #337AB7;
}

.options__label {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
}

.options__label::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
}

.checkbox2 {
  display: inline-block;
  position: relative;
  padding: 0 0 0 30px;
}

.checkbox2 a {
  position: absolute;
  right: -150px;
  width: 200px;
  font-size: 18px;
  color: #64B369;
}

.checkbox2 a:hover {
  color: #d37231;
}